<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="footer-content">
  <p>
    <a href="https://sites.coecis.cornell.edu/ieee/" target="_blank" class="social-icon">
      <i class="fa fa-globe"></i> Website
    </a> &bull;
    <a href="https://www.instagram.com/ieee.at.cornell/" target="_blank" class="social-icon">
      <i class="fa fa-instagram"></i> Instagram
    </a> &bull;
    <a href="https://github.com/IEEEAtCornell" target="_blank" class="social-icon">
      <i class="fa fa-github"></i> GitHub
    </a> &bull;
    <a href="mailto:ieee@cornell.edu" target="_blank" class="social-icon">
      <i class="fa fa-envelope"></i> Email
    </a>
  </p>
</div>
