<!-- MathJax Support -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    inlineMath: [['$','$']]
    }
});
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>

<!-- Favicon Links -->
<link rel="icon" href="{{ '/assets/ieee-logo.png' | relative_url }}" type="image/png">

<!-- IMPORTANT: need this to use theme styling -->
<link rel="stylesheet" href="{{ '/assets/main-light.css' | relative_url }}">